openapi: 3.0.0
info:
  title: PayJoy Partner API V2 Carts Down Payments API
  version: 1.0.0
  description: 'PayJoy Partner API (Sales Integration) lets retail and OEM partners integrate PayJoy point-of-sale financing: retrieve cart/sale information, list merchants and sales clerks, offer and process customer repayments, redeem and cancel vouchers, pay down payments, and pull transaction history for reconciliation. Assembled by API Evangelist from the per-operation OpenAPI fragments published verbatim on the PayJoy developer portal API Reference.'
  contact:
    name: PayJoy Developer Portal
    url: https://developers.payjoy.com/
servers:
- url: https://partner-integration.sandbox.payjoy.com/partner-api
  description: Sandbox
security:
- PayJoyApiKeyAuth: []
tags:
- name: Down Payments
paths:
  /v2/down-payments/{downPaymentCode}/pay:
    put:
      tags:
      - Down Payments
      summary: Pay Down Payment
      description: Pay a down payment using a down payment code.
      operationId: PayDownPayment
      parameters:
      - name: X-PayJoy-ApiKey
        in: header
        required: true
        schema:
          type: string
      - name: downPaymentCode
        in: path
        required: true
        description: The unique identifier of the down payment
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - currency
              - merchantId
              - salesClerkId
              properties:
                amount:
                  type: number
                  description: The payment amount formatted as a number with two decimal places
                currency:
                  type: string
                  pattern: ^[A-Z]{3}$
                  description: ISO 4217 currency code
                merchantId:
                  type: integer
                  description: The Merchant's unique ID
                salesClerkId:
                  type: integer
                  description: The Clerk's unique ID
              additionalProperties: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayDownPaymentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        code:
          type: string
          description: The error code
        message:
          type: string
          description: Human-readable error message
        context:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
    PayDownPaymentResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            downPaymentCode:
              type: string
              description: The down payment code
            transactionId:
              type: string
              description: The unique transaction ID/Code
            completedAt:
              type: integer
              description: Timestamp in seconds when the down payment was paid
  responses:
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    PayJoyApiKeyAuth:
      type: apiKey
      in: header
      name: X-PayJoy-ApiKey
      description: API key required to authenticate all requests. Include this key in the request header as `X-PayJoy-ApiKey`.
