openapi: 3.0.0
info:
  title: PayJoy Partner API V2 Carts Reconciliation API
  version: 1.0.0
  description: 'PayJoy Partner API (Sales Integration) lets retail and OEM partners integrate PayJoy point-of-sale financing: retrieve cart/sale information, list merchants and sales clerks, offer and process customer repayments, redeem and cancel vouchers, pay down payments, and pull transaction history for reconciliation. Assembled by API Evangelist from the per-operation OpenAPI fragments published verbatim on the PayJoy developer portal API Reference.'
  contact:
    name: PayJoy Developer Portal
    url: https://developers.payjoy.com/
servers:
- url: https://partner-integration.sandbox.payjoy.com/partner-api
  description: Sandbox
security:
- PayJoyApiKeyAuth: []
tags:
- name: Reconciliation
paths:
  /v2/transactions:
    get:
      tags:
      - Reconciliation
      summary: List Transactions
      description: 'Retrieves a list of transactions within a specified time range. **Note**: startTime and endTime query parameters are required to define the period.

        '
      operationId: getTransactions
      parameters:
      - name: startTime
        in: query
        description: Unix timestamp in milliseconds indicating the start of the time range.
        required: true
        schema:
          type: string
      - name: endTime
        in: query
        description: Unix timestamp in milliseconds indicating the end of the time range
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        code:
          type: string
          description: The error code
        message:
          type: string
          description: Human-readable error message
        context:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
    ListTransactionsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            required:
            - type
            - time
            - amount
            - currency
            - merchant
            properties:
              type:
                type: string
              time:
                type: integer
              amount:
                type: number
                format: float
              currency:
                type: string
              financeOrder:
                type: object
                properties:
                  id:
                    type: integer
                  purchaseAmount:
                    type: number
                  financeAmount:
                    type: number
                  downPayment:
                    type: number
                  pricePreTax:
                    type: number
                  monthlyCost:
                    type: number
                  weeklyCost:
                    type: number
                  months:
                    type: integer
              payment:
                type: object
                properties:
                  id:
                    type: integer
                  timestamp:
                    type: integer
                  amount:
                    type: number
              adjustment:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  notes:
                    type: string
              merchant:
                type: object
                required:
                - id
                - name
                properties:
                  id:
                    type: integer
                  name:
                    type: string
              salesClerk:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
              device:
                type: object
                properties:
                  phoneNumber:
                    type: string
                  simNumber:
                    type: string
                  imei:
                    type: string
                  family:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                  model:
                    type: object
                    properties:
                      id:
                        type: integer
                      makeModel:
                        type: string
                      name:
                        type: string
  responses:
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    PayJoyApiKeyAuth:
      type: apiKey
      in: header
      name: X-PayJoy-ApiKey
      description: API key required to authenticate all requests. Include this key in the request header as `X-PayJoy-ApiKey`.
