openapi: 3.0.0
info:
  title: PayJoy Partner API V2 Carts Merchants API
  version: 1.0.0
  description: 'PayJoy Partner API (Sales Integration) lets retail and OEM partners integrate PayJoy point-of-sale financing: retrieve cart/sale information, list merchants and sales clerks, offer and process customer repayments, redeem and cancel vouchers, pay down payments, and pull transaction history for reconciliation. Assembled by API Evangelist from the per-operation OpenAPI fragments published verbatim on the PayJoy developer portal API Reference.'
  contact:
    name: PayJoy Developer Portal
    url: https://developers.payjoy.com/
servers:
- url: https://partner-integration.sandbox.payjoy.com/partner-api
  description: Sandbox
security:
- PayJoyApiKeyAuth: []
tags:
- name: Merchants
  description: Retrieve merchants information.
paths:
  /v2/merchants:
    get:
      tags:
      - Merchants
      summary: Get Merchants information
      description: Retrieve all merchants
      operationId: getMerchants
      parameters:
      - name: X-PayJoy-ApiKey
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMerchantsResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v2/merchants/{merchantTag}:
    get:
      tags:
      - Merchants
      summary: Get Merchant information by merchantTag
      description: Retrieve a single merchant by merchantTag
      operationId: getMerchant
      parameters:
      - name: X-PayJoy-ApiKey
        in: header
        required: true
        schema:
          type: string
      - name: merchantTag
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMerchantResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        code:
          type: string
          description: The error code
        message:
          type: string
          description: Human-readable error message
        context:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
    GetMerchantsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              merchantTag:
                type: string
              name:
                type: string
              address:
                type: object
                properties:
                  address1:
                    type: string
                  address2:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  postalCode:
                    type: string
                  country:
                    type: string
                  region:
                    type: string
              managerName:
                type: string
              phoneNumber:
                type: string
              email:
                type: string
              isActive:
                type: boolean
              metadata:
                type: object
                additionalProperties:
                  type: string
    GetMerchantResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            merchantTag:
              type: string
            name:
              type: string
            address:
              type: object
              properties:
                address1:
                  type: string
                address2:
                  type: string
                city:
                  type: string
                state:
                  type: string
                postalCode:
                  type: string
                country:
                  type: string
                region:
                  type: string
            managerName:
              type: string
            phoneNumber:
              type: string
            email:
              type: string
            isActive:
              type: boolean
            metadata:
              type: object
              additionalProperties:
                type: string
  responses:
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    PayJoyApiKeyAuth:
      type: apiKey
      in: header
      name: X-PayJoy-ApiKey
      description: API key required to authenticate all requests. Include this key in the request header as `X-PayJoy-ApiKey`.
